body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffcc00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    color: #333;
    padding: 10px;
    box-sizing: border-box;
}

.index-container {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.index-container img {
    max-width: 80%;
    height: auto;
    margin-bottom: auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}

a.button-primary {
    display: inline-block;
    margin-top: auto;
    padding: 10px 20px;
    background-color: #ffcc00;
    box-shadow: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

a.button-primary:hover {
    background-color: #e6b800;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
