/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffcc00b9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.settings-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
}

.settings-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.settings-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.settings-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.settings-item a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.logout-button {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.back-button {
    width: 100%;
    padding: 10px;
    background-color: #bdc3c7;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
